<head>
        <title> ena.rocks </title>
        <link rel="icon" href="/Icon.PNG">
</head>
<style>
body {
        margin:3%;
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bar {
        display: flex;
        justify-content: space-between;
        margin-left:20%;
        margin-right:20%;
}
</style>
<header>
        <a href="/">
        <img
                src="/Title.PNG"
                alt="ena.rocks with bleeding hearts (flower)"
                width="350"
                height="170"
                class="centre"
        >
        </a>
        <hr>
        <div class="bar">
                <span> <a href="/posts/">posts</a> </span>
		<span> <a href="/tags/">tags</a> </span>
                <span> <a href="/about/">about</a> </span>
        </div>
        <hr>
</header>

