 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
	<a href="/"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a><hr>
	<img src="https://github.com/msbukal/msbukal.github.io/blob/master/image.JPG?raw=true" alt="me"> <br><br>

	Honours Computer Science, Bioinformatics Option <br>
	University of Waterloo <br>
        Graduated 08/2019 with Distinction - Dean's Honours List <br><br>
        Synesthete, Canadian & sleep deprived <br><br>

      </header>
      <section>

      {{ content }}

      </section>
    </div>

  </body>
</html>
